.materialListWrapper {
  width: 125rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.listBox {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.btnField {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.company {
  color: #5e5e5e;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.active {
  color: #111111;
}
.unactive {
  cursor: pointer;
}
