.materialListWrapper {
  width: 125rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.listBox {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.btnField {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;

  color: #5e5e5e;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.company {
  color: #5e5e5e;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.active {
  color: #111111;
  font-weight: 600;
}
.unactive {
  cursor: pointer;
}
.pageSpan {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pageButton {
  background: transparent;
  border: none;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.pagination {
  display: flex;
  gap: 1rem;
  text-align: center;
  place-items: center;
}
