.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
  background-image: url('../../assets/img/Interior1.jpg');
  color: #ffffff;

  font-family: Pretendard;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-top: 3rem;
  padding-bottom: 3rem;
}
