.pageWrapper {
  width: 100%;
}
.p {
  color: #121212;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hr {
  width: 70%;
  border: 1px solid #d3d3d3;
  margin: 0.5em auto;
  margin-bottom: 2rem;
}
.titleText {
  color: #121212;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5rem 0 1rem 0;
}
.article {
  width: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50rem;
  height: 50rem;
}
.bodySection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageSection {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.blogText {
  color: #121212;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.linkText {
  color: #3e3e3e;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}
.linkSection {
  padding-bottom: 2rem;
}
