.materialItemWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1.3rem;
}
.infoBox {
  width: 100%;
  gap: 0.5rem;
}
.materialImage {
  width: 30rem;
  height: 30rem;
}
.materialType {
  color: var(--B1, #3e3e3e);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.materialNum {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.materialName {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
