.pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hr {
  display: block;
  width: 125rem;
  margin-bottom: 2rem;
}
.titleText {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 7rem 0 2rem 0;
}
.text {
  color: #3e3e3e;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  padding-bottom: 5rem;
}
.h3 {
  color: #3e3e3e;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dateSpan {
  color: #3e3e3e;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p {
  color: #3e3e3e;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 2rem;
  text-align: left;
}
.titleSection {
  width: 125rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.article {
  width: 125rem;
  min-height: 50rem;
  height: auto;
  padding-bottom: 5rem;
}
